# Scraping Sustainalytics ESG Ratings from Yahoo Finance

## Set up

In [1]:
import pandas as pd
import os
from datetime import datetime as dt
from urllib import request
import json

In [22]:
portfolio = pd.read_csv("tickers.csv")
tickers = portfolio[portfolio.type == "Equity"].ticker.tolist()
tickers

['TGT', 'PEP', 'NOVN', 'AMT', 'SVT', 'UNH', 'VZ', 'ELV']

## Scrape a ticker's data

### Reference code

In [11]:
url = "https://query2.finance.yahoo.com/v1/finance/esgChart?symbol=TGT"
connection = request.urlopen(url)

data = connection.read()
data_2 = json.loads(data)
Formatdata = data_2["esgChart"]["result"][0]["symbolSeries"]
Formatdata_2 = pd.DataFrame(Formatdata)
Formatdata_2["timestamp"] = pd.to_datetime(Formatdata_2["timestamp"], unit="s")

In [9]:
pd.set_option('display.max_rows', 50)
Formatdata_2

    timestamp  esgScore  governanceScore  environmentScore  socialScore
0  2014-09-01     66.00            74.00             60.00        66.00
1  2014-10-01     66.00            74.00             60.00        66.00
2  2014-11-01     66.00            74.00             60.00        66.00
3  2014-12-01     66.00            74.00             60.00        66.00
4  2015-01-01     66.00            74.00             60.00        66.00
..        ...       ...              ...               ...          ...
91 2022-04-01       NaN              NaN               NaN          NaN
92 2022-05-01     14.79             5.06              2.17         7.56
93 2022-06-01       NaN              NaN               NaN          NaN
94 2022-07-01       NaN              NaN               NaN          NaN
95 2022-08-01     14.72             5.06              2.04         7.63

[96 rows x 5 columns]

### Test out reference code

In [38]:
# get a list of urls to scrape
ticker = "NOVN"

base_url = "https://query2.finance.yahoo.com/v1/finance/esgChart?symbol="
url = base_url + ticker

In [39]:
# open url and get json data
connection = request.urlopen(url)
jsondata = connection.read()

# decode json to Python objects
data = json.loads(jsondata)

In [40]:
data

{'esgChart': {'result': [{}], 'error': None}}

In [41]:
# extract and format data (including the timestamp column)
try:
    peer_group = data["esgChart"]["result"][0]["peerGroup"]
except:
    print("\tno sustainability data!")

peer_series = pd.DataFrame(data["esgChart"]["result"][0]["peerSeries"])
peer_series["timestamp"] = pd.to_datetime(peer_series["timestamp"], unit="s")
peer_series["ticker"] = ticker

symbol_series = pd.DataFrame(data["esgChart"]["result"][0]["symbolSeries"])
symbol_series["timestamp"] = pd.to_datetime(symbol_series["timestamp"], unit="s")
symbol_series["ticker"] = ticker

	no sustainability data!

KeyError: 'peerSeries'

## Scrape list of tickers' data

In [16]:
# define scraper and formatting function

list_peer_series = []
list_symbol_series = []
no_data = []

def get_esgdata(base_url, ticker):
    
    print("getting data for", ticker, "...")
    
    # open url and get json data
    url = base_url + ticker
    connection = request.urlopen(url)
    jsondata = connection.read()

    # decode json to Python objects
    data = json.loads(jsondata)
    
    # extract and format data (including the timestamp column)
    try:
        peer_group = data["esgChart"]["result"][0]["peerGroup"]
    except:
        print("\tno sustainability data!")
        no_data.append(ticker)
        return

    peer_series = pd.DataFrame(data["esgChart"]["result"][0]["peerSeries"])
    peer_series["ticker"] = ticker
    peer_series["peer_group"] = peer_group
    list_peer_series.append(peer_series)

    symbol_series = pd.DataFrame(data["esgChart"]["result"][0]["symbolSeries"])
    symbol_series["ticker"] = ticker
    symbol_series["peer_group"] = peer_group
    list_symbol_series.append(symbol_series)
    
    print("data for", ticker, "retrieved")

    return

In [17]:
# get data for each url in list of urls

portfolio = pd.read_csv("tickers.csv")
tickers = portfolio[portfolio.type == "Equity"].ticker.tolist()
base_url = "https://query2.finance.yahoo.com/v1/finance/esgChart?symbol="

for ticker in tickers:
    get_esgdata(base_url, ticker)
    
print("\ndata extraction complete!")
    
peer_data = pd.concat(list_peer_series)
symbol_data = pd.concat(list_symbol_series)

peer_data["timestamp"] = pd.to_datetime(peer_data["timestamp"], unit="s")
symbol_data["timestamp"] = pd.to_datetime(symbol_data["timestamp"], unit="s")

getting data for TGT ...
data for TGT retrieved
getting data for PEP ...
data for PEP retrieved
getting data for NOVN ...
	no sustainability data!
getting data for AMT ...
data for AMT retrieved
getting data for SVT ...
	no sustainability data!
getting data for UNH ...
data for UNH retrieved
getting data for VZ ...
data for VZ retrieved
getting data for ELV ...
data for ELV retrieved

data extraction complete!

In [18]:
peer_data = peer_data.reset_index(drop=True)
symbol_data = symbol_data.reset_index(drop=True)

In [19]:
peer_data

,timestamp,esgScore,governanceScore,environmentScore,socialScore,ticker,peer_group
0,2014-09-01,57.272727,64.236364,51.345455,58.036364,TGT,Retailing
1,2014-10-01,57.357143,64.285714,51.446429,58.125000,TGT,Retailing
2,2014-11-01,57.357143,64.285714,51.446429,58.107143,TGT,Retailing
3,2014-12-01,57.267857,64.285714,51.285714,58.125000,TGT,Retailing
4,2015-01-01,57.250000,64.410714,51.196429,58.000000,TGT,Retailing
...,...,...,...,...,...,...,...
476,2022-05-01,22.604559,6.854262,4.193443,10.681475,VZ,Telecommunication Services
477,2022-06-01,NaN,NaN,NaN,NaN,VZ,Telecommunication Services
478,2022-07-01,NaN,NaN,NaN,NaN,VZ,Telecommunication Services
479,2022-08-01,22.633437,6.866271,4.346610,10.711695,VZ,Telecommunication Services
480,2018-10-01,46.086486,50.027027,52.034595,51.242162,ELV,Canada Fund Emerging Markets Equity

In [20]:
symbol_data

,timestamp,esgScore,governanceScore,environmentScore,socialScore,ticker,peer_group
0,2014-09-01,66.00,74.00,60.00,66.00,TGT,Retailing
1,2014-10-01,66.00,74.00,60.00,66.00,TGT,Retailing
2,2014-11-01,66.00,74.00,60.00,66.00,TGT,Retailing
3,2014-12-01,66.00,74.00,60.00,66.00,TGT,Retailing
4,2015-01-01,66.00,74.00,60.00,66.00,TGT,Retailing
...,...,...,...,...,...,...,...
476,2022-05-01,18.30,5.51,3.88,8.92,VZ,Telecommunication Services
477,2022-06-01,NaN,NaN,NaN,NaN,VZ,Telecommunication Services
478,2022-07-01,NaN,NaN,NaN,NaN,VZ,Telecommunication Services
479,2022-08-01,18.48,5.69,3.88,8.92,VZ,Telecommunication Services
480,2018-10-01,49.33,48.70,49.44,51.49,ELV,Canada Fund Emerging Markets Equity

In [21]:
# write to csv
peer_data.to_csv("peer_data.csv", index=False)
symbol_data.to_csv("symbol_data.csv", index=False)